.sidebar-header {
    border-top: 1px dashed red;
    border-bottom: 1px dashed red;
    padding: 3px 0;
}

.category-list {
    margin-top: 1.5rem;
    text-transform: capitalize;
    font-size: calc(0.6rem + 0.3vw);
    font-weight: 400;
    color: red;
}
.category-list li a span {
    margin-right: 2px;
}

.category-list li a:hover span {
    opacity: 0;
}
