.navbar-wrapper {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    padding: 1rem 2rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.nav-right-left .main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-right-left .main-menu li a {
    text-transform: uppercase;
    margin: 0 0.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 400;
}
.nav-right-left .main-menu li a.active {
    color: #ff1e00;
    background-color: #bbdef0;
}
.nav-right {
    display: flex;
    align-items: center;
}
.nav-right-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-right-right > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.nav-right-right > h6 {
    font-size: calc(0.4rem + 0.45vw);
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 10px;
}

.nav-right-right .nav-btn {
    text-transform: capitalize;
    font-size: calc(0.5rem + 0.45vw);
    background-color: #157f1f;
    color: #fff;
    padding: 0.25rem 0.75rem;
    border-radius: 5px;
    border: 1px solid #157f1f;
}

/* ========== Responsive Navbar ========= */
#toggler {
    display: none;
}
@media (min-width: 769px) {
    .nav-right-container {
        height: auto !important;
    }
}

@media (max-width: 768px) {
    .navbar-wrapper {
        padding: 0.75rem;
    }
    #toggler {
        display: block;
    }

    .nav-container {
        flex-direction: column;
    }
    .nav-container .nav-left {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-container .nav-right {
        flex-direction: column;
    }
    .nav-container .nav-right-right {
        flex-direction: column;
    }
    .nav-container .nav-right-left {
        margin-top: 0.75rem;
        margin-bottom: 0.9rem;
    }
    .nav-container .nav-right-right > h6 {
        margin-right: 0;
        margin-bottom: 5px;
    }
    .nav-container .nav-right .main-menu {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }
}
