/* ======================
    00. Common CSS
=========================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

/* For Tailwind ========= */
@tailwind base;
@tailwind components;
@tailwind utilities;
